* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 45px;
	color: aliceblue;
	font-weight: 600;
	text-shadow: 2px 2px 2px black;
}

header {
	text-align: center;
	background-color: rgb(102, 94, 74);
}

.app {
	background: url(../src/components/images/into_the_sea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
